@import "foundation/functions";

// Settings
// $topbar-height: 90px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$font-family-monospace: Consolas, "Liberation Mono", Courier, monospace;

@import "foundation";

.top-bar {
    .title {
        color: $white;
        text-align: center;
        font-size: 150%;
    }
}

.footer {
    text-align: center;
}
