


/ %nav.navbar.navbar-default{role: "navigation"}
/   .container-fluid
/     .navbar-header
.well.well-lg
  .row
    .col-md-12
      .text-center
        %a{href:"#"}
          .title= current_page.data.title
