---
title: Thank you
---

.container
  .row
    .col-md-12
      .text-center
        :markdown
          # Thank you!

          I appreciate your sending a contact request.
          I'll be in touch as soon as possible.

          Tamara Temple
